<ion-card routerLink="/pokemon-details/{{idpoke}}" class="poke-card">
  <ion-card-header>
    <h1>Nº {{numpokemon}}</h1>
    <ion-title>{{name}}</ion-title>
    <ion-item class="img-container">
      <ion-img *ngIf="filename == '' || filename == null" src="assets/No-Image-Placeholder.svg"></ion-img>
      <ion-img *ngIf="filename != '' && filename != null" src="http://localhost:8080/images/{{filename}}"></ion-img>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <div class="poke-types">
      <ion-img src="assets/images/{{type1}}.png"></ion-img>
      <ion-img *ngIf="type2 !== null && type2 !== 'null'" src="assets/images/{{type2}}.png"></ion-img>
    </div>
  </ion-card-content>
</ion-card>