.poke-card {
  height: 30em;
  max-width: 15em;
  font-family: 'Roboto Mono', monospace;
  border-radius: 1em;
  text-align: center;
  border: 1px solid black;
}

#noImage{
  width: 6em;
  height: 6.5em;
}

.poke-types {
  padding: 1em;
  margin: 1em;
}